<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Контакт</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<a href="/contacts/"><h3>Вернуться к полному списку</h3></a>
<h3 th:text="${contact.getSurname()}"></h3>
<p th:text="${contact.getMiddleName()}"></p>
<p th:text="${contact.getLastName()}"></p>
Дата рождения:
<p th:text="${contact.getBirthday()}"></p>
Список телефонов:
<hr>

<div th:each="PhoneNumber : ${contact.getPhoneNumberList()}">
        <p th:text="${PhoneNumber.getType()}"></p>
        <ul><li><p th:text="${PhoneNumber.getValue()}"></p>
            <form action="#"
                  th:action="@{/contacts/{id}/del/{phoneid}(id=${contact.getId()}, phoneid=${PhoneNumber.getId()})}"
                  method="post">
                <p><input type="submit" value="Удалить" /> </p>
            </form>
        </li></ul>
        <hr>
</div>

<div id="add-phonenumber-form">
    <form action="?" method="post">
        <h3>Добавление контакта</h3>
        <label>Телефон:</label>
        <input type="text" name="value" value="">
        <br>

        <div>
            <input type="radio" id="contactChoice1"
                   name="phone-type" value="work" checked>
            <label for="contactChoice1">Рабочий</label>

            <input type="radio" id="contactChoice2"
                   name="phone-type" value="home">
            <label for="contactChoice2">Домашний</label>

            <input type="radio" id="contactChoice3"
                   name="phone-type" value="cellphone">
            <label for="contactChoice3">Мобильный</label>
        </div>
        <br>

        <button type="submit" id="save-contact">Сохранить</button>
    </form>
</div>

</body>
</html>