<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список контактов</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div id="find-contact-form">
    <div>
        <h3>Поиск контактов:</h3>
        <form method="GET" action="/contacts/filtered-by-surname/">
                <label>Фамилия:</label><br>
                <input type="text" name="surname" value=""><br>
                <button type="submit">Поиск</button><br>
        </form>
        <br>
        <form method="GET" action="/contacts/filtered-by-phone-number/">
            <label>Номер телефона:</label><br>
            <input type="text" name="phonenumber" value=""><br>
            <button type="submit">Поиск</button><br>
        </form>
    </div>
</div>

<div id="create-contact-form">
    <form method="POST" action="/contacts">
        <div>
            <h3>Добавление контакта</h3>
            <label>Фамилия:</label><input type="text" name="surname" value=""><br>
            <label>Имя:</label><input type="text" name="middlename" value=""><br>
            <label>Отчество:</label><input type="text" name="lastname" value=""><br>
            <label>День рождения:</label>
            <input type="date" name="birthday">
            <button type="submit" id="save-contact">Сохранить</button>
        </div>
    </form>
</div>

<button id="show-add-contact-form">Добавить контакт</button>
<button id="show-find-contact-form">Поиск контакта</button><br>
<p>Список контактов:</p><br>

<div id="contact-list">
    <div th:each="contact : ${contacts}">
        <a th:href="@{/contacts/{id}(id=${contact.getId()})}"
           class="contact-link"
           th:attr="data-id=${contact.getId()}"
           th:text="${contact.getSurname() + ' ' + contact.getMiddleName()}"></a>
        <br>
        <form action="/contacts" th:method="DELETE">
            <input type="hidden" name="contactId" th:attr="value=${contact.getId()}">
            <p><input type="submit" value="Удалить"/></p>
        </form>
        <hr>
    </div>
</div>


<script src="/js/mybestscript.js"></script>
</body>
</html>