<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список контактов</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div id="find-contact-container">
    <form method="GET" action="/contacts/filtered/">
        <h3>Поиск контактов:</h3>
        <input type="text" name="key" value=""><br>
        <input type="radio" id="findOption1" name="findOption" value="phonenumber" checked>  <!--onchange="changeHandler();"-->
        <label for="findOption1">Поиск по номеру телефона</label><br>
        <input type="radio" id="findOption2" name="findOption" value="surname">
        <label for="findOption2">Поиск по фамилии</label><br>
        <button type="submit">Поиск</button><br>
    </form>
</div>

<div id="create-contact-container">
    <form method="POST" action="/contacts" id="create-contact-form">
        <h3>Добавление контакта</h3>
        <label>Фамилия:</label><input type="text" name="surname" value=""><br>
        <label>Имя:</label><input type="text" name="middlename" value=""><br>
        <label>Отчество:</label><input type="text" name="lastname" value=""><br>
        <label>День рождения:</label>
        <input type="date" name="birthday"><br>
        <button type="submit" id="save-contact">Сохранить</button>
    </form>
</div>

<div id="create-contact-form-ajax">
    <form id="add-contact-form-ajax">
        <h3>Добавление контакта</h3>
        <label>Фамилия:</label><input type="text" name="surname" value=""><br>
        <label>Имя:</label><input type="text" name="middlename" value=""><br>
        <label>Отчество:</label><input type="text" name="lastname" ><br>
        <label>День рождения:</label>
        <input type="date" name="birthday"><br>
        <button id="fetch-post-button">fetch_test</button>
    </form>
</div>

<hr>
<button id="show-add-contact-container-button">Добавить контакт</button>
<button id="show-find-contact-container-button">Поиск контакта</button><br>
<p>Список контактов:</p><br>

<div id="contact-list">
    <div th:each="contact : ${contacts}">
        <a class="contact-link"
           th:href="@{/contacts/{id}(id=${contact.getId()})}"
           th:attr="data-id=${contact.getId()}"
           th:text="${contact.getSurname() + ' ' + contact.getMiddleName()}"></a>
        <br>
        <form action="/contacts" th:method="DELETE">
            <input type="hidden" name="contactId" th:attr="value=${contact.getId()}">
            <p><input type="submit" value="Удалить"/></p>
        </form>
        <hr>
    </div>
</div>

<script src="/js/mybestscript.js"></script>
</body>
</html>