<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список контактов</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<a href="/contacts/"><h3>Вернуться к полному списку</h3></a>
<p>По номеру телефона найдено:</p>
<br>

<div id="filtered-by-phone-number-contact-list">
    <div th:each="contact : ${contacts}">
        <a th:href="@{/contacts/{id}(id=${contact.getId()})}"
           class="contact-link"
           th:attr="data-id=${contact.getId()}"
           th:text="${contact.getSurname()}"></a>
        <br>
        <hr>
    </div>
</div>

</body>
</html>